@media screen and (max-width:992px) {
    .row{
        width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
    }

    .col{
        width: calc(100% / 4 - 10px);
    }

   img{
       width: 100%;
   }

    

    .main-box ul{
        margin-left: 15px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:768px) {
    .col{
        width: calc(100% / 2 - 10px);
        padding: 0 20px;
    }
    
    .main-box li{
        flex-wrap: wrap;
        width: 25%;
    }
}

@media  screen and (max-width:576px) {
    .sidebar{
        width: 50px;
    }

    .main-box{
        width: calc(100% - 50px);
    }

    span{
        display: none;
    }

    .sidebar-playlist{
        display: none;
    }

    .sidebar{
        padding-left:12px;
    }

    #logo{
        width: 110px;
    }

    .sidebar-footer div, span{
        display: none;
    }

    .sidebar-menu i{
        position: relative;
        right: 5px;
    }

    #user{
        position: relative;
        right: 85px;

    }

    @media screen and (max-width:440px) {
        .col{
            width: calc(50% - 10px)
        }

        .main-box li{
            flex-wrap: wrap;
            width: 30%;
        }

        .footer-icon{
            width: 150px;
        }

        .track-menu{
            width: 150px;
            flex-direction: column;
            margin: 0;
            padding: 0;
        }

        .track-info{
            display: none;
        }

        .track img{
            width: 100%;
        }
     
    }

    
    
}